@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans Arabic", "Cairo", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-900: #1e3a8a;
  --color-brand: #0052cc;
}

@layer base {
  body {
    @apply antialiased m-0 p-0 text-slate-800 bg-slate-50;
  }
}
